[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-proj/lib/forge-std"]
	path = foundry-proj/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/counter/lib/forge-std"]
	path = foundry/counter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
